AspNetCore.Angular.Webpack.Starter/AspNetCore.Angular.Webpack.Starter/node_modules/
AspNetCore.Angular.Webpack.Starter/AspNetCore.Angular.Webpack.Starter/obj/
AspNetCore.Angular.Webpack.Starter/AspNetCore.Angular.Webpack.Starter/bin/Debug/
