<!DOCTYPE html>
<html>

<head>
    <base href="/">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Add manifest -->
    <link rel="manifest" href="manifest.json">
    <!-- Add to home screen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Weather PWA">
    <link rel="apple-touch-icon" href="assets/icons/icon-152x152.png">
    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="assets/icons/icon-144x144.png">
    <meta name="msapplication-TileColor" content="#2F3BA2">

    <title>IoT</title>
</head>

<body>
    <app>Loading...</app>
    @RenderBody() @RenderSection("scripts", required: false)
</body>

</html>